<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> | CSE 340 Project</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/site/favicon-32x32.png" />
  <link rel="apple-touch-icon" href="/images/site/icon.png" />
</head>