<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div class="error-container">
      <h1><%= title %></h1>
      <p><%- message %></p>
      <a href="/" class="home-btn">Go Back Home</a>
    </div>
  </body>
</html>